.buttons-container__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    
  }
  
  .buttons-container__image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .buttons-container__button--login {
    background-color: green;
    color: white;
    padding-left: 2rem;
  }

 .buttons-container_descrpcion-btn{
  margin-left: 55rem;
 }
  
  .buttons-container__button--google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   
      background-color: white;
    
  }

  .suscribite_btn{
    width: 10rem;
    height: 3rem;
    margin-left: 55rem;
    position: relative;
    border-radius: 1rem ;
    top: -3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
   
  
  
}
