
.brand-container__image {
    border-radius: 10px;
    box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
  }




.header-logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 30px;
}

.post__img{
  width: 603px;
  height: 314px;
  top: 226px;
  left: 105px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
}
.post__img-logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.post__js-img{
  width: 189px;
  height: 145px;
  top: 226px;
  left: 764px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  margin-left: 100px;
}

.post__js-img-logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.post__sematicas-img{
  width: 189px;
  height: 145px;
  top: 226px;
  left: 764px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  margin-left: 100px;
}


.post__sematicas-img-logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.post__react-img{
  width: 189px;
  height: 145px;
  top: 226px;
  left: 764px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  margin-left: 100px;
}

.post__react-img-logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}
.populares__vue-img{
  Width:298px;
  Height:200px;
 border-radius: 20px;;
}
.populares__vue-img--logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.populares__API-img{
  width: 298px;
  height: 195px;
  border-radius: 20px;
}
.populares__API-img--logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}
.populares__sass-img{
  width: 298px;
  height: 200px;
  border-radius: 20px;
}
.populares__sass-img--logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.populares__bootstrap-img{
  Width:298px;
  Height:220px;
 border-radius: 20px;;
}

.populares__bootstrap-img--logo{
  width: 2rem;
  border-radius: 77px ;
  opacity: 0px;
}

.categorias__html-img{
  width: 85px;
  height: 74px;
  top:914px;
}

.categorias__js-img{
  width: 85px;
  height: 74px;
  top:914px;
      }


      .categorias__css-img{
        width: 85px;
        height: 74px;
        top:914px;
    }
   

    .categorias__react-img{
      width: 85px;
      height: 74px;
      top:914px;
      left: 888px;  
  }

  .categorias__vue-img{

    width: 77px;
    height: 57px;
    top:914px;
}


.categorias__bootstrap-img{
  width: 85px;
  height: 74px;
  top:914px;    
}

.footer__logo{
  width: 55px;
  height: 55px;
  border-radius: 10px;
 margin-top:20px;
 margin-bottom: 30px;
}

.main__articulo-img{
  width: 2rem;
      border-radius: 77px ;
      opacity: 0px;
      margin-left: 18rem;
}


.principal_articulo-img_bootstrap{
  width: 50rem;
  height: 25rem;
  border-radius: 3rem;
}