@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 30px;
}
.header-logo__descripcion{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    font-size: 20px;
}



.post{
display:flex;
}



.post__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  
}

.post__img{
    width: 603px;
    height: 314px;
    top: 226px;
    left: 105px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}
.post__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post__descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.post__img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post__logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.linea-horizontal {
    border-bottom: 3px solid black; 
    width: 100%;
    margin: 20px 0; 
  }


  .post-js{
    margin-top: 60px;
    margin-left: 30px;
  }

  .post-js__img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post-js__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post-js__descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}


.post-js__img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post-js__logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.post-sematicas{
    margin-top: 10px;
    margin-left: 30px;

  }

  .post-sematicas__img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post-sematicas__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post-sematicas__descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;}


.post-sematicas__img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post-sematicas__logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.post-react{
    margin-top: 10px;
    margin-left: 30px;
  }

  .post-react__img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post-react__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post-react__descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}


.post-react__img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post-react__logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.populares{
margin-top: 35px;
}


.populares-vue{

}
.populares__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  
}

.populares__vue-img{
    Width:298px;
    Height:200px;
   border-radius: 20px;;
}
.populares__vue-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.populares__vue-descripcion--img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.populares__vue-img--logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.populares__vue-logo--descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}



.populares-API{
margin-top: 5px;
}



.populares__API-img{
    width: 298px;
    height: 200px;
    border-radius: 20px;
}
.populares__API-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.populares__API-descripcion--img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.populares__API-img--logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.populares__API-logo--descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}




.populares-sass{
    margin-top: 15px;
    }
    
    
    
    .populares__sass-img{
        width: 298px;
        height: 200px;
        border-radius: 20px;
    }
    .populares__sass-fecha{
        margin-top: 10px;
        font-family: "Poppins", sans-serif;
    }
    
    .populares__sass-descripcion--img{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
       
    }
    
    .populares__sass-img--logo{
        width: 2rem;
        border-radius: 77px ;
        opacity: 0px;
    }
    .populares__sass-logo--descripcion{
        font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }


   

    .populares-bootstrap{
        margin-top: 20px;
    }

 
    
    .populares__bootstrap-img{
        Width:298px;
        Height:200px;
       border-radius: 20px;;
    }
    .populares__bootstrap-fecha{
        margin-top: 10px;
        font-family: "Poppins", sans-serif;
    }
    
    .populares__bootstrap-descripcion--img{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
       
    }
    
    .populares__bootstrap-img--logo{
        width: 2rem;
        border-radius: 77px ;
        opacity: 0px;
    }
    .populares__bootstrap-logo--descripcion{
        font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    
.categorias{
    margin-top: 3px;

}
 
.categorias__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}


.categorias__html{
width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background: #E93E30;

}


.categorias__html-img{
    width: 85px;
    height: 74px;
    top:914px;
}

.categorias__html-titulo{

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
    padding-left:100px ;
}



.categorias__js{
width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background: #F7E018;
margin-top: 10px;
    
    }
    
    
.categorias__js-img{
width: 85px;
height: 74px;
top:914px;
    }
    
.categorias__js-titulo{
    
font-family: "Poppins", sans-serif;
font-weight: 700;
color:white;
padding-left:100px ;
 }
   
 

 .categorias__css{
    width: 298px;
    height: 89px;
    top: 900px;
    left: 873px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    background:#299ED5;
    margin-top: 10px;
        
 }
        
        
.categorias__css-img{
    width: 85px;
    height: 74px;
    top:914px;
}
        
.categorias__css-titulo{
        
font-family: "Poppins", sans-serif;
font-weight: 700;
color:white;
 padding-left:100px ;
 }

 .categorias__react{
 width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background:#292C33;
margin-top: 10px;

 }
.categorias__react-img{
    width: 85px;
    height: 74px;
    top:914px;
    left: 888px;  
}


.categorias__react-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px ;    
}



.categorias__vue{
    width: 297px;
    height: 89px;
    top: 1366px;
    left: 873px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    background-color:#67C770; 
    margin-top: 10px;
}


.categorias__vue-img{

    width: 77px;
    height: 57px;
    top:914px;
}

.categorias__vue-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px ;     
}

.categorias__bootstrap{
width: 297px;
height: 89px;
top: 1366px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background-color:#563D7C; 
margin-top: 10px;
}

.categorias__bootstrap-img{
    width: 85px;
    height: 74px;
    top:914px;    
}
.categorias__bootstrap-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px  
}




.categorias__texto{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top:45px;
}

.footer__logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
   margin-top:20px;
   margin-bottom: 30px;
}
.footer__logo-descriptcion{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
}

.footer__texto{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
   margin-top:40px;
   margin-bottom: 30px;
   
}