@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 30px;
}
.header-logo__descripcion{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    font-size: 20px;
}



.post{
display:flex;
}



.post__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  
}

.post__img{
    width: 603px;
    height: 314px;
    top: 226px;
    left: 105px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}
.post__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post__descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.post__img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post__logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.linea-horizontal {
    border-bottom: 3px solid rgb(90, 89, 89); 
    width: 100%;
    margin: 10px ; 
  }


  .post__js{
    margin-top: 60px;
    margin-left: 30px;
  }

  .post__js-img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post__js-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post__js-descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}


.post__js-img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post__js-logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.post__sematicas{
    margin-top: 10px;
    margin-left: 30px;

  }

  .post__sematicas-img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post__sematicas-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post__sematicas-descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;}


.post__sematicas-img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post__sematicas-logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.post__react{
    margin-top: 10px;
    margin-left: 30px;
  }

  .post__react-img{
    width: 189px;
    height: 145px;
    top: 226px;
    left: 764px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    margin-left: 100px;
  }
.post__react-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.post__react-descripcion-img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}


.post__react-img-logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.post__react-logo-descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 



.populares{
margin-top: 35px;
}


.populares__vue{

}
.populares__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  
}

.populares__vue-img{
    Width:298px;
    Height:200px;
   border-radius: 20px;;
}
.populares__vue-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.populares__vue-descripcion--img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.populares__vue-img--logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.populares__vue-logo--descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}



.populares-API{
margin-top: 5px;
}



.populares__API-img{
    width: 298px;
    height: 195px;
    border-radius: 20px;
}
.populares__API-fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.populares__API-descripcion--img{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}

.populares__API-img--logo{
    width: 2rem;
    border-radius: 77px ;
    opacity: 0px;
}
.populares__API-logo--descripcion{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}




.populares-sass{
    margin-top: 15px;
    }
    
    
    
    .populares__sass-img{
        width: 298px;
        height: 200px;
        border-radius: 20px;
    }
    .populares__sass-fecha{
        margin-top: 10px;
        font-family: "Poppins", sans-serif;
    }
    
    .populares__sass-descripcion--img{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
       
    }
    
    .populares__sass-img--logo{
        width: 2rem;
        border-radius: 77px ;
        opacity: 0px;
    }
    .populares__sass-logo--descripcion{
        font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }


   

    .populares-bootstrap{
        margin-top: 10px;
    }

 
    
    .populares__bootstrap-img{
        Width:298px;
        Height:220px;
       border-radius: 20px;;
    }
    .populares__bootstrap-fecha{
        margin-top: 10px;
        font-family: "Poppins", sans-serif;
    }
    
    .populares__bootstrap-descripcion--img{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
       
    }
    
    .populares__bootstrap-img--logo{
        width: 2rem;
        border-radius: 77px ;
        opacity: 0px;
    }
    .populares__bootstrap-logo--descripcion{
        font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    
.categorias{
    margin-top: 3px;

}
 
.categorias__tittle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}


.categorias__html{
width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background: #E93E30;

}


.categorias__html-img{
    width: 85px;
    height: 74px;
    top:914px;
}

.categorias__html-titulo{

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
    padding-left:100px ;
}



.categorias__js{
width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background: #F7E018;
margin-top: 10px;
    
    }
    
    
.categorias__js-img{
width: 85px;
height: 74px;
top:914px;
    }
    
.categorias__js-titulo{
    
font-family: "Poppins", sans-serif;
font-weight: 700;
color:white;
padding-left:100px ;
 }
   
 

 .categorias__css{
    width: 298px;
    height: 89px;
    top: 900px;
    left: 873px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    background:#299ED5;
    margin-top: 10px;
        
 }
        
        
.categorias__css-img{
    width: 85px;
    height: 74px;
    top:914px;
}
        
.categorias__css-titulo{
        
font-family: "Poppins", sans-serif;
font-weight: 700;
color:white;
 padding-left:100px ;
 }

 .categorias__react{
 width: 298px;
height: 89px;
top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background:#292C33;
margin-top: 10px;

 }
.categorias__react-img{
    width: 85px;
    height: 74px;
    top:914px;
    left: 888px;  
}


.categorias__react-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px ;    
}



.categorias__vue{
    width: 297px;
    height: 89px;
    top: 1366px;
    left: 873px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    background-color:#67C770; 
    margin-top: 10px;
}


.categorias__vue-img{

    width: 77px;
    height: 57px;
    top:914px;
}

.categorias__vue-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px ;     
}

.categorias__bootstrap{
width: 297px;
height: 89px;
top: 1366px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background-color:#563D7C; 
margin-top: 10px;
}

.categorias__bootstrap-img{
    width: 85px;
    height: 74px;
    top:914px;    
}
.categorias__bootstrap-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:white;
     padding-left:100px  
}


.suscribite{
   

   
    gap: 0px;
    border-radius: 10px ;
    background:rgb(50, 149, 50);
    margin-top: 20px;
   

}

.suscribite_descripcion{
    font-size: 30px;
    
    padding-left:5rem ;
    padding-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
}
.suscribite_input{
   width: 40rem;
   height: 3rem;
  margin-top: 2rem;
  margin-left: 4rem;
  border-radius: 1rem ;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.suscribite_btn{
    width: 10rem;
    height: 3rem;
    margin-left: 55rem;
    position: relative;
    border-radius: 1rem ;
    top: -3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
   
  
  
}


.categorias__texto{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top:45px;
}

.footer__logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
   margin-top:20px;
   margin-bottom: 30px;
}
.footer__logo-descriptcion{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
}

.footer__texto{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
   margin-top:40px;
   margin-bottom: 30px;
   
}




.header__articulo-logo{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 30px;
    margin-left: 18rem;
}
.header__articulo-descripcion{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    
}


.navbar {


   
  }
  
  

.navbar__articulo-tittle{
    
    margin-left: 18rem;
    margin-top: 3rem;
}
.navbar__articulo-descripcion{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
   

    
}

.main__articulo {
    margin-left: 1rem;
    margin-top: 3rem;
  }

.main__articulo-img{
    width: 2rem;
        border-radius: 77px ;
        opacity: 0px;
        margin-left: 18rem;
}
.main__articulo-descripcion__logo{
    margin-top: 10px;
    font-family: "Poppins", bold;
    font-weight: 600;
    font-style: normal;
    margin-left: 1rem;
}
.main__articulo-descripcion__fecha{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;  
    padding-left: 10rem;
}

.principal__articulo{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: #dce0e4;
}

.principal_articulo-img_bootstrap{
    width: 50rem;
    height: 25rem;
    border-radius: 3rem;
}
.principal__articulo-text{
    text-align: center;
    margin-bottom: 4rem;
}
.principal__articulo-text_2{
    text-align: center;
    margin-top: 7rem;
}

.tittle__articulo-relacionados{
    margin-left: 11rem;
    margin-top: 3rem;

}

.tittle__articulo-relacionados_text{
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 30px;
   margin-left: 8rem;
  
}



.card__articulo{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 5rem;
}
.card__articulo-vue {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 14rem;
  }
  .card__articulo-api{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 14rem;
  }
  .card__articulo-sass {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 12rem;
  }


  /*  ---------------------------_____-------------------______----___--------------   */

  body {
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .input-container__title {
    text-align: center;
    font-weight: 500;
  }
  .input-container__input {
    font-size: 1.2rem;
    font-weight: 100;
  }
  
  .buttons-container__register-text {
    text-align: center;
  }
  
  .buttons-container__register-link {
    font-weight: 800;
    color: black;
  }
  
  .main {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: clamp(500px, 40%, 700px);
    padding: 1rem;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .remember-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
  }
  
  .buttons-container__button {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    cursor: pointer;
  }

  .buttons-container__image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .buttons-container__button--login {
    background-color: green;
    color: white;
  }
  .buttons-container__button--google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
  }
  
  .input-container__input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
  }
  .checkbox-container__checkbox-input {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  