.main{
    display: flex;
    justify-content: center;
    padding: 1rem;

}


.linea-horizontal {
    border-bottom: 3px solid rgb(90, 89, 89); 
    width: 100%;
    margin: 10px ; 
  }

  .post__js{
    margin-top: 60px;
    margin-left: 30px;
  }

  .post__sematicas{
    margin-top: 10px;
    margin-left: 30px;

  }

  .post__react{
    margin-top: 10px;
    margin-left: 30px;
  }

  .populares{
    margin-top: 35px;
    }
    
.populares-API{
 margin-top: 5px;
}

.populares-sass{
    margin-top: 15px;
    }
.populares-bootstrap{
margin-top: 15px;
 }

 .categorias{
    margin-top: 3px;

}

.categorias__html{
    width: 298px;
    height: 89px;
    top: 900px;
    left: 873px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    background: #E93E30;
    
    }

.categorias__js{
        width: 298px;
        height: 89px;
        top: 900px;
        left: 873px;
        gap: 0px;
        border-radius: 10px ;
        opacity: 0px;
        background: #F7E018;
        margin-top: 10px;
            
            }

.categorias__css{
width: 298px;
height: 89px;
 top: 900px;
left: 873px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
background:#299ED5;
margin-top: 10px;
                    
 }




 .categorias__react{
    width: 298px;
   height: 89px;
   top: 900px;
   left: 873px;
   gap: 0px;
   border-radius: 10px ;
   opacity: 0px;
   background:#292C33;
   margin-top: 10px;
   
    }


    .categorias__vue{
        width: 297px;
        height: 89px;
        top: 1366px;
        left: 873px;
        gap: 0px;
        border-radius: 10px ;
        opacity: 0px;
        background-color:#67C770; 
        margin-top: 10px;
    }

    .categorias__bootstrap{
        width: 297px;
        height: 89px;
        top: 1366px;
        left: 873px;
        gap: 0px;
        border-radius: 10px ;
        opacity: 0px;
        background-color:#563D7C; 
        margin-top: 10px;
        }

        .suscribite{
            gap: 0px;
            border-radius: 10px ;
            background:rgb(50, 149, 50);
            margin-top: 20px;
           
        
        }

        .main__articulo {
            margin-left: 1rem;
            margin-top: 3rem;
          }
          .principal__articulo{
            display: flex;
            margin-top: 3rem;
            flex-direction: column;
            align-items: center;
            background-color: #dce0e4;
        }

        .tittle__articulo-relacionados{
            margin-left: 11rem;
            margin-top: 3rem;
        
        }